header {
  font-size: 26px;
  padding-left: 33px;
  padding-top: 23px;
  padding-bottom: 22px;
}

img {
width: 1100px;
height: 131px;
}

div {
  text-align: center;
  background-color: #EEEEEE;
  width: 1100px;
}
